
.shop {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center all sections except Hero horizontally */
}

.new-Collection {
    width: 100%; /* Ensure it takes full width */
    display: flex;
    justify-content: center; /* Center the NewCollection content */
}

.collection {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 cards per row */
    gap: 30px; /* Gap between the cards */
}

/* Media Queries for responsiveness */
@media (max-width: 1280px) {
    .collection {
        grid-template-columns: repeat(3, 1fr); /* 3 columns */
    }
}

@media (max-width: 1024px) {
    .collection {
        grid-template-columns: repeat(2, 1fr); /* 2 columns */
    }
}

@media (max-width: 800px) {
    .collection {
        grid-template-columns: repeat(2, 1fr); /* 2 columns */
    }
}

@media (max-width: 500px) {
    .collection {
        grid-template-columns: 1fr; /* 1 column */
    }
}
